<!--<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let demo of demos">
        <a class="portfolio-item d-block mx-auto" routerLink="{{ demo.routerLink }}">{{ demo.name }}</a>
      </div>
    </div>
  </div>
</section> -->
<section>
  <div class="container">
    <h1>Problem</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <ul>
            <li> Geschwindigkeit (Ausführung)</li>
            <li> Geschwindigkeit (Download)</li>
            <li> Reponsivness (UX)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Ziele</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Methodik</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Code</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Loop</th>
                <th scope="col">Recursive</th>
                <th scope="col">Memoization</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> C </th>
                <td>
                  <pre>
                    <code>
                      {{'
  int fibonacciLoop(int num) {
    int a = 1;
    int b = 1;
  
    while (num-- > 1) {
      int t = a;
      a = b;
      b += t;
    }
    return b;
  }
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
  int fibonacciRec(int num) {
    if (num <= 1)
      return 1;
    int a = fibonacciRec(num - 1);
    int b = fibonacciRec(num - 2);
    return  a + b ;
  }
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
  int memo[10000];
   
  int fibonacciMemo(int num) {
    if (memo[num] != -1)
      return memo[num];
  
    if (num == 1 || num == 2) {
      return 1;
    } else {
      int a = fibonacciRec(num - 1);
      int b = fibonacciRec(num - 2);
      return memo[num] = a + b;
    }
  }
                      '}}
                    </code>
                  </pre>
                </td>
              </tr>

              <tr>
                <th scope="row" class="align-content:center;"> Rust </th>
                <td>
                  <pre>
                    <code>
                      {{'
fn fibonacciLoop(mut num :  i32) {
  let mut a = 1;
  let mut b = 1;

  while num > 1 {
    let t = a;
    a = b;
    b += t;
    num -= 1
  }
  b;
}
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
fn fibonacciRec(num : i32) -> i32{
  if num <= 1 {
      return 1;
  }

  let a :i32= fibonacciRec(num - 1);
  let b :i32 = fibonacciRec(num - 2);
  a+b
}
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
static mut memo: [ i32;10000] = [0;10000];

 
fn  fibonacciMemo(num : usize) -> i32{ 
    unsafe{
        if memo[num] != -1 {
            return memo[num];
        }

        if num == 1 || num == 2 {
            return 1;
        } else {
            let a = fibonacciMemo(num - 1);
            let b = fibonacciMemo(num - 2 );
            memo[num] = a + b;
            return memo[num]
        }
    }

    panic!()
}
                      '}}
                    </code>
                  </pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>
<section>
  <app-fibRust></app-fibRust>
  <app-fibC></app-fibC>
</section>