<!--<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let demo of demos">
        <a class="portfolio-item d-block mx-auto" routerLink="{{ demo.routerLink }}">{{ demo.name }}</a>
      </div>
    </div>
  </div>
</section> -->
<section>
  <div class="container">
    <h1>Problem</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <ul>
            <li> Webapplikation dürfen nicht lange brauchen um geladen zu werden</li>
            <li> Webapplikation dürfen nicht langsam sein auf dem Userclient </li>
            <li> Webapplikation sollen flüssig (ohne Lag) auf dem Client zu Ausführung kommen </li>

            <li> Es ist noch wenig bekannt welches werkzeug die beste Wahl ist um die Probleme zu lösen</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Ziele</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <h3>Aus den Problemen können folgende Ziele abgeleitet werden</h3>
          <ul>
            <li> Webapplikation müssen physisch klein sein</li>
            <li> Webapplikation müssen hoch performant sein ( effiziente algorithmen )</li>
            <li> Webapplikation dürfen keine Ressourcen verschwenden </li>
          </ul>
          <p>
            Die Frage lautet also: <b>Wie erreicht man die Ziele von kleinen, hoch performanten Ressourcen schonenden
              Programmen?</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Methodik</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <ul>
            <li> Für Aussagen über die Performance stellen zu können werden <b>vergleichbare Daten</b> benötigt</li>
            <li> Vergleichbare Daten werden über standardisierte Test erzeugt. Benchmark Test</li>
            <li> Spezifisch werden in diesem Beispiel sogenannte <i><b>Synthetische Benchmarks</b></i> durchgeführt</li>
          </ul>
          <hr>
          <ul>
            <li> Synthetisch Benchmark bedeutet: Messung anhand eines Künstliches Problems</li>
            <li> Beispiele für Synthetische Benchmarks aus der Vergangenheit: </li>
            <ul>
              <li>Whetstone</li>
              <li>Dhrystone</li>
              <li>Rhealstone</li>
              <li>Linpack</li>
            </ul>
            <li>
              Ziel der Test war die Performance der CPU's zu messen
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1>Code</h1>
    <div class="demo-contents">
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Interative</th>
                <th scope="col">Recursive</th>
                <th scope="col">Memoization</th>
                <th scope="col">Total Code Size</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> C </th>
                <td>
                  <pre>
                    <code>
                      {{'
  int fibonacciLoop(int num) {
    int a = 1;
    int b = 1;
  
    while (num-- > 1) {
      int t = a;
      a = b;
      b += t;
    }
    return b;
  }
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
  int fibonacciRec(int num) {
    if (num <= 1)
      return 1;
    int a = fibonacciRec(num - 1);
    int b = fibonacciRec(num - 2);
    return  a + b ;
  }
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
  int memo[10000];
   
  int fibonacciMemo(int num) {
    if (memo[num] != -1)
      return memo[num];
  
    if (num == 1 || num == 2) {
      return 1;
    } else {
      int a = fibonacciRec(num - 1);
      int b = fibonacciRec(num - 2);
      return memo[num] = a + b;
    }
  }
                      '}}
                    </code>
                  </pre>
                </td>
                <td> 487 bytes</td>
              </tr>

              <tr>
                <th scope="row" class="align-content:center;"> Rust </th>
                <td>
                  <pre>
                    <code>
                      {{'
fn fibonacciLoop(mut num :  i32) {
  let mut a = 1;
  let mut b = 1;

  while num > 1 {
    let t = a;
    a = b;
    b += t;
    num -= 1
  }
  b;
}
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
fn fibonacciRec(num : i32) -> i32{
  if num <= 1 {
      return 1;
  }

  let a :i32= fibonacciRec(num - 1);
  let b :i32 = fibonacciRec(num - 2);
  a+b
}
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
static mut memo: [ i32;10000] = [0;10000];

 
fn  fibonacciMemo(num : usize) -> i32{ 
    unsafe{
        if memo[num] != -1 {
            return memo[num];
        }

        if num == 1 || num == 2 {
            return 1;
        } else {
            let a = fibonacciMemo(num - 1);
            let b = fibonacciMemo(num - 2 );
            memo[num] = a + b;
            return memo[num]
        }
    }

    panic!()
}
                      '}}
                    </code>
                  </pre>
                </td>
                <td>13,7 kb</td>
              </tr>

              <tr>
                <th scope="row" class="align-content:center;"> TS </th>
                <td>
                  <pre>
                    <code>
                      {{'
const fibonacciLoop = 
(num: number) => {
  let a = 1;
  let b = 0;
  let temp;

  while (num >= 0) {
    temp = a;
    a = a + b;
    b = temp;
    num--;
  }

  return b;
};
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
const fibonacciRec = 
(num: number) => {
  if (num <= 1) {
    return 1;
  }
  let a = fibonacciMemo(num - 1);
  let b = fibonacciMemo(num - 2 );
  return a + b;
};
                      '}}
                    </code>
                  </pre>
                </td>
                <td>
                  <pre>
                    <code>
                      {{'
const fibonacciMemo = 
(num: number, memo?: Object) => {
  memo = memo || {};

  if (memo[num]) {
    return memo[num];
  }

  if (num <= 1) {
    return 1;
  }
  let a = fibonacciMemo(num - 1);
  let b = fibonacciMemo(num - 2);
  return (memo[num] = a + b;
};
                      '}}
                    </code>
                  </pre>
                </td>
                <td>582 bytes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



</section>
<section>
  <app-fibRust></app-fibRust>
  <app-fibC></app-fibC>
</section>

<section>
  <div class="container">
    <h1>Fazit</h1>
    <div class="demo-contents" style="margin-bottom: 50px; ">
      <div class="row">
        <div class="col-lg-12">
          <p>
            Man kann zusammenfassen: Bei hinreichend Rechenintensiven Operation schlägt die Ausführung von Webassembly
            die Ausführung von Javascript im Webbrowser.
            Zwischen den Sprachen C und Rust kommt die Sprache C als Favorit hervor, da die produzierte Code größe die
            Kleinere von beiden ist.
          </p>
          <p> Es sei angemerkt, dass die Tests noch keine abschließende Antwort liefern können. Der Benchmark gibt uns
            aber ein Indikator darüber welche Sprache potentiel
            die bessere Wahl bei Webapplikation ist, wenn es darum geht Rechenintensiven code zu optimieren um die
            Userexperience zu verbessern.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>